<!-- {% extends 'users/base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Registro</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Registrarme</button>
  </form>
</div>
<div class="form-check mb-3">
  {{ form.accept_terms }}
  <label class="form-check-label" for="id_accept_terms">
    Acepto los <a href="{% url 'terms_and_conditions' %}" target="_blank">términos y condiciones</a>
  </label>
</div>
{% endblock %} -->
